*, *::before, *::after { box-sizing: border-box; }

:root {
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1a202c;
  background-color: #f0f4f8;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: unset;
  padding: 0;
  text-align: left;
}
